<section class="card-carousel">
    <div class="container">
        <div class="card-carousel__inner">
			<div class="card-carousel__title">
				<h3>Отзывы наших клиентов</h3>
				<p>Мы в социальных сетях</p>
			</div>
			<div class="card-carousel__slider">
				<div class="card-carousel__slide">
					<div class="card-carousel__item">
						1
					</div>
				</div>
				<div class="card-carousel__slide">
					<div class="card-carousel__item">
					   2
					</div>
				</div>
				<div class="card-carousel__slide">
					<div class="card-carousel__item">
					   3
					</div>
				</div>
				<div class="card-carousel__slide">
					<div class="card-carousel__item">
						4
					</div>
				</div>
			</div>
        </div>
</section>